body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.teste {
    box-shadow:black 20px, 20px;
    margin-left: 42vw;
    margin-top: 5vh;
    
}

.teste h1 {
    margin-left: 4vw;
}